body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
      to bottom right,
      rgb(72, 72, 218),
      rgb(145, 241, 233),
      rgb(17, 167, 17)
    );
    display: flex;
    height: 100vh;
    margin: 0;
  }
  
  .sidebar {
    width: 350px;
    background: linear-gradient(to bottom right, #63c2da 20%, #e0d9d2 80%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar p {
    margin: 10px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar a:hover {
    background: linear-gradient(to right, #d172ee, #0072ff);
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    /* background: linear-gradient(to bottom right, #f876e0 10%, #f1caa7 90%); */
    /* background: linear-gradient(
      to bottom right,
      rgb(130, 219, 248),
      rgb(217, 130, 252)
    ); */
    background: linear-gradient(to right, #d172ee, #0072ff);
  }
  
  .content h2 {
    margin-top: 0;
  }
  
  .btn-primary {
    background-color: #fa2c25;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
  }
  
  .btn-primary:hover {
    background-color: #dd2007;
  }
  
  iframe {
    /* margin-top: -2%; */
    width: 100%;
    height: calc(100vh - 60px);
    border: none;
  }